:root {
  /* COLORS   PALETTES */

  /* yellow/reddish palette */
  --color-yellow-to-red-1: rgba(255, 186, 8, 1);
  --color-yellow-to-red-2: rgba(250, 163, 7, 1);
  --color-yellow-to-red-3: rgba(244, 140, 6, 1);
  --color-yellow-to-red-4: rgba(232, 93, 4, 1);
  --color-yellow-to-red-5: rgba(220, 47, 2, 1);
  --color-yellow-to-red-6: rgba(208, 0, 0, 1);
  --color-yellow-to-red-7: rgba(157, 2, 8, 1);
  --color-yellow-to-red-8: rgba(106, 4, 15, 1);
  --color-yellow-to-red-9: rgba(55, 6, 23, 1);
  --color-yellow-to-red-10: rgba(3, 7, 30, 1);
  /*  color blue shades  */
  --color-blue-shades-1: rgba(202, 240, 248, 1);
  --color-blue-shades-2: rgba(144, 224, 239, 1);
  --color-blue-shades-3: rgba(0, 180, 216, 1);
  --color-blue-shades-4: rgba(0, 119, 182, 1);
  --color-blue-shades-5: rgba(3, 4, 94, 1);

  /*  color white, gray shades  */
  --color-gray-shades-1: rgba(255, 255, 255, 1);
  --color-gray-shades-2: rgba(248, 249, 250, 1);
  --color-gray-shades-3: rgba(233, 236, 239, 1);
  --color-gray-shades-4: rgba(222, 226, 230, 1);
  --color-gray-shades-5: rgba(206, 212, 218, 1);
  --color-gray-shades-6: rgba(173, 181, 189, 1);
  --color-gray-shades-7: rgba(108, 117, 125, 1);
  --color-gray-shades-8: rgba(108, 117, 125, 1);
  --color-gray-shades-10: rgba(33, 37, 41, 1);

  /*  GREEN SHADES */
  --color-green-shades-1: rgba(255, 255, 63, 1);
  --color-green-shades-2: rgba(238, 239, 32, 1);
  --color-green-shades-3: rgba(221, 223, 0, 1);
  --color-green-shades-4: rgba(212, 215, 0, 1);
  --color-green-shades-5: rgba(191, 210, 0, 1);
  --color-green-shades-6: rgba(170, 204, 0, 1);
  --color-green-shades-7: rgba(128, 185, 24, 1);
  --color-green-shades-8: rgba(128, 185, 24, 1);
  --color-green-shades-9: rgba(43, 147, 72, 1);
  --color-green-shades-10: rgba(0, 127, 95, 1);
}

/****** RESET  ******/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
}
/****** RESET  ******/
/*  FORMS GROUP ELEMENTS AND RULES */
/* form group general */
.form-group {
  position: relative;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
/* form group inputs[text] */
.form-group input[type='text'] {
  width: calc(100%);
  position: relative;
  outline: none;
}

input[type='text'],
input[type='search'],
textarea {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  border: 1px solid var(--color-fade);
  outline: none;
}

textarea {
  border: 1px solid var(--color-fade);
}

/*  END OF FORMS GROUP ELEMENTS AND RULES */
/***************** HOVER ANIMATE BORDER *****************/

.animate-borders-hover {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  padding: 1rem;
  position: relative;
  outline: none;
  text-align: center;
  border: none;
}

.animate-borders-hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 8px solid transparent;
}

.animate-borders-hover:hover:before {
  height: 100%;
  width: calc(100%);
  border: 1px solid var(--color-fade);
  border-right: none;
  border-bottom: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

.animate-borders-hover::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 1px solid transparent;
}
.animate-borders-hover:hover:after {
  height: 100%;
  width: 100%;
  border: 1px solid var(--color-fade);
  border-left: none;
  border-top: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

/***************** HOVER ANIMATE BORDER *****************/

/***************** FOCUS ANIMATE BORDER  ***********/
.animate-borders-focus {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1.5rem;
  position: relative;
  outline: none;
}

.animate-borders-focus + label:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid var(--color-fade);
  transition: width 0.5s linear, height 0.5s 0.5s linear, border 1s linear;
}

.animate-borders-focus:focus + label:before {
  content: '';
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-yellow-to-red-1);
  border-right: none;
  border-bottom: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

.animate-borders-focus + label:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 0 solid var(--color-fade);
  transition: width 0.5s linear, height 0.5s 0.5s linear, border 1s linear;
}

.animate-borders-focus:focus + label:after {
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-yellow-to-red-1);
  border-left: none;
  border-top: none;
  transition: height 0.5s linear, width 0.5s linear 0.5s;
}

/***************** FOCUS ANIMATE BORDER FOCUS ***********/

/*  ******************* BOX SHADOW **************** */

.drop-shadow-1 {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/*  ******************* BOX SHADOW **************** */

/*  HAMBURGER MENU ICON */
#hamburger-menu-checkbox {
  display: none;
}
.hamburger-menu {
  user-select: none;
  width: 25px;
  border-top: 2px solid #fff;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border-radius: 0%;

  padding: 5px;
}

.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  display: block;
  width: inherit;
  border-top: 2px solid #fff; /*  currentColor  - check this prorty*/
  position: absolute;
  left: 0;

  transform: all 0.5s linear;
}
.hamburger-menu::before {
  top: 5.5px;
  transition: all 0.5s linear;
}
.hamburger-menu::after {
  top: 13px;
  transition: all 0.5s linear;
}

/*  changing hamburger  style based on checkbox 'checked' status  */
input[type='checkbox']:checked + label {
  border: 3px solid var(--color-gray-shades-2);
  width: 35px;
  height: 35px;
  background-color: transparent;
  border-radius: 50%;
  transition: border 0.2s linear;
}

input[type='checkbox']:checked + label::before {
  top: 13.5px;
  left: 6.5px;
  transform: rotate(-50deg);
  width: 15px;
}
input[type='checkbox']:checked + label::after {
  transform: rotate(50deg);
  top: 13.5px;
  left: 6.5px;
  width: 15px;
}

/*  HAMBURGER MENU ICON */
