.circle {
  width: 100px;
  height: 100px;
  border: 30px solid black;
  border-radius: 10rem;
  background-color: transparent;
  transition: all 1s ease;
}

.circle:hover {
  border: 2px solid black;
  transition: border 1s ease-in-out;
  width: 20px;
  height: 20px;
}
